body {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: calc(17.5/14);
    color: var(--color-text);
    background: #fff;
  }
  .container {
    max-width: 1410px;
    margin-left: auto;
    margin-right: auto;
  }