@import './variables.css';

strong {
  font-weight: 600;
}

.heading_hero {
  font-size: 18px;
  font-weight: 600;
  line-height: calc(23/18);
}

.heading_big {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -2px;
  color: var(--color-white);
  margin-bottom: 34px;
}

.heading_big span {
  color: #17F084;
}

.heading-small {
  font-weight: 700;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-transform: uppercase;
  color: var(--color-yellow);
  margin-bottom: 19px;
}

.text_small {
  font-size: 11px;
  line-height: calc(13.75/ 11);
  color: var(--color-icon);
}

.text_links {
  font-weight: 600;
  color: inherit;
}

.text-medium {
  font-weight: 500;
}

.text_rate {
  font-size: 12px;
  font-weight: 500;
  line-height: calc(15/12);
  color: var(--color-input);
}

.line {
  padding: 1px;
  background: var(--color-des);
}

.weight_500 {
  font-weight: 500;
}

.weight_600 {
  font-weight: 600;
}

.weight_700 {
  font-weight: 700;
}

.tex_upcase {
  text-transform: uppercase;
}

.text_store {
  font-size: 12px;
  line-height: calc(20/12);
  font-weight: 500;
  color: var(--color-text) !important;
}

.text_store span {
  color: var(--color-stock);
}

.text_price {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: calc(22.5 /18);
  color: var(--color-red);
}

.over_color_price {
  color: var(--color-blue);
}

.text_today {
  text-transform: uppercase;
  font-size: 16px;
  line-height: calc(20 / 16);
  margin-bottom: 11px;
}

.text_sale {
  color: var(--color-input);
  text-decoration-line: line-through;
}

.text_remain , .item_remain {
  color: var(--color-remain) !important;
}

.check-text {
  color: var(--color-stock);
  margin-right: 3px;
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 30px;
  }
}